# Database PostgreSQL Connection
DATABASE_URL=

# GitHub OAuth App Credentials
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
CALLBACK_URL=

# JSON Web Token Secret
JWT_SECRET=

# Server Port (Opsional, default 4000)
PORT=
